<html>
<head>


	<script type="text/javascript" src="/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="/bootstrap.min.js"></script>
	<script type="application/dart" src="script.dart"></script>
	<script src="/packages/browser/dart.js"></script>
	<link rel="stylesheet" href="/bootstrap.css">
	<link rel="stylesheet" href="/style.css" />
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Cross-Zeros</a>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
			<form class="navbar-form navbar-right this-navbar">


			<div class="form-group dropdown">
				<div></div>

			</div>



			<div>
				<div  class="form-group">
					<div id="login_name" >


					</div>
				</div>
				<div  class="form-group">
					<div id="logout"><a href='/logout'>logout</a></div>

				</div>

			</div>


			</form>
		</div>
	</div>
</nav>
<hr>



	<div class="container">

		<div id="registr" align="center">
			<form action="/newClient" method="POST" id="newClientForm" class="form-signin">
				<h2 class="form-signin-heading">Enter nickname</h2>
				<div>
					<label for="clientNameField" class="sr-only">Name:</label>
					<input type="text" name="name" id="clientNameField" class="form-control" placeholder="Name...">
				</div>
				<div>
					<input class="btn btn-lg btn-primary btn-block" type="submit" value="Save">
				</div>
			</form>
		</div>

		<div id="play">
			<h2>Players online</h2>
			<div id="active_players"></div>
		</table>
		</div>

		<div id="play_dialog">

		</div>
		<div id="field" style="display:none;">

		</div>
		<div id="field2" style="display:none;">

		</div>
	</div>
</body>
</html>
