<html>
<head>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/cookie.js"></script>
<script src="/script.js"></script>
<link rel="stylesheet" href="/style.css" />
</head>

<body>
<table><tr>
<td id="login_name"> </td><td id="logout"><a href='/logout'>logout</a></td></tr></table>
<h1>Hello! </h1>
<div id="registr">
<form action="/newClient" method="POST" id="newClientForm">
<div>Name: <input type="text" name="name" id="clientNameField"></div>
<div><input type="submit" value="Save"></div>
</form>
</div>

<div id="play">
	<ul id="active_players">

</ul>
</div>

<div id="play_dialog">

</div>
<div id="field" style="display:none;">

</div>
<div id="field2" style="display:none;">

</div>
</body>
</html>
